
.principal {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: #fece82;
	height: 600px;
	padding: 25px;
	border-radius: 15px;
}

.botones {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 420px;
}

.boton {
	border-radius: 5px;
	background-color: #53bcf1;
	color: black;
	padding: 6px;
	text-decoration: none;
}

input{
	width: 240px;
	height: 30px;
	border-style: none;
	border-radius: 5px;
	padding-left: 10px;

}

select{
	width: 250px;
	height: 30px;
	border-style: none;
	padding-left: 10px;
	border-radius: 5px;
}